.login__form {
  display: block;
  margin: 20px;
}

.email__field {
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(113, 130, 136, 0.288);
  border: none;
  outline: none;
}

.password__field {
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(113, 130, 136, 0.288);
  border: none;
  outline: none;
}
