.container {
  margin: 20px;
  padding-left: 17%;
}
.first__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
img {
  width: 50%;
  border-radius: 10px;
}
